.thumbnail {
  display: inline-block;
  max-width:30%;
}

th, td {
  max-width:30%;
}

.inline-block{
  display: inline-block;
  color: red;
}

.restaurant-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 20px;
}

.restaurant-item img {
  max-height: 180px;
  max-width: 100%;
}

.restaurant-item .caption {
  padding: 10px;
}

.nav-pills-center {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  text-align: center;   //li算是text所以可以用這種方式置中
 }

.nav-pills-center > li {
  float: none;
  display: inline-block;
}

.middle {
  padding: 15% 15% 5% 15%;
  margin: auto;
}

.btn a{
  color: white;
}

.user_photo{
  display: inline-block;
}

